ul
{
    list-style-type: none;
    margin: 25;
    padding: 0;
    overflow: hidden;
    background: #f2c7f1;
}

li 
{
    float: left;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
	font-size: 20px;
}

ul2
{
	list-style-type: circle;
   	margin: 0;
    	padding: 0;
    	overflow: hidden;
}

li2
{
	display: list-item;
	text-align: center;
}

li a
{
	display: block;
	text-align:center;
    	color: white;
    	padding: 10px 18px;
}

li a:hover
{
	background-color: white;
	color: #abebbb;
}

h1
{
	font-size: 50px;
	text-align: center;
}

.img
{
	display:block;
        margin: 0 auto;
}

.center
{
	text-align: center;
	margin: 25px 25px 50px 50px;
	font-family: "Courier New", Courier, monospace;
}


.font
{
	font-family: "Courier New", Courier, monospace;
}

/* Lets your image stick to the left of your text. */
.left
{
    float: left;
    margin: 15px 53px 15px 53px;
	clear: left;
}

.lefts
{
    float: left;
    margin: 15px 25px 15px 30px;
	clear: left;
}

.validator
{
	margin: auto;
}

